.effective{
  padding-top: 207px;
  padding-bottom: 179px;
  .effective__title{
    margin-bottom: 212px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    text-align: center;
    color: #191919;
  }
}