.header{
  .header__joinBtn{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 140% */
    color: #222222;
    text-decoration: none;
  }
}